*{
  font-family: Helvetica;
  color: #023859;
  font-size: 1.5em;
  background-color: white;
}

td{
  background-color: #0468A6;
  font-size: 20px;
  font-family: one-way; 
  color: white;
}

table {
  table-layout: fixed; 
}

.title{
  font-size: 100px;
  font-style: italic;

}
td:hover {
      cursor: pointer;
      background-color: #78ABBF;
    }



.caption{
  font-size: 60px;
  color: #048ABF;
}

